.table-sizing {
    width: 85%;
    margin: auto;
}

.text-center {
    text-align: center;
}

.input-sizing {
    width: 15%;
    margin-left: 77.5%;
}

.excellent {
    background-color: #234d20;
    color: white;
}

.great {
    background-color: #77ab59;
    color: white;
}

.good {
    background-color: #f0f7da;
}